<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    <link rel="stylesheet" href="http://localhost:5173/build/global.css">
  </head>
  <body class="dark:su-bg-black-true dark:su-text-white">
    <a id="skiplinks" href="#main-content" class="skiplink">Skip to content</a>
    <header
      class="report-header--story report-header su-pb-[11rem] md:su-pb-[17.7rem] lg:su-pb-[19.3rem] su-bg-black"
    >
      <div
        class="su-bg-digital-red su-fixed"
        style="height: 100px; width: 100%"
      >
        <button
          id="toggle"
          class="su-p-7 su-border-2 su-text-white su-border-white dark:su-border-black-true dark:su-text-black-true"
        >
          Dark/Light Mode Toggle
        </button>
      </div>
      >
        <button
          id="toggle"
          class="su-p-7 su-border-2 su-text-white su-border-white dark:su-border-black-true dark:su-text-black-true"
        >
          Dark/Light Mode Toggle
        </button>
      </div>
    </header>
    <main
      role="main"
      id="main-content"
      class="su-page su-page--hero su-page--top-margin su-page--bottom-margin su-page-has-sidebar--left"
    >
      <div class="su-page-wrap">
        <div class="su-upper-content">
            <h1>
              Upper content is normally a hero that can include a date, taxonomy
              term, page title, summary, and image.
            </h1>
        </div>

        <div class="su-page-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Magna
            fermentum iaculis eu non diam phasellus vestibulum lorem. Lacus sed
            viverra tellus in hac. Dictum varius duis at consectetur lorem donec
            massa sapien. Habitant morbi tristique senectus et netus et. Commodo
            viverra maecenas accumsan lacus vel facilisis volutpat est. Dui nunc
            mattis enim ut tellus elementum. Integer feugiat scelerisque varius
            morbi enim. Dictum non consectetur a erat nam. Sollicitudin tempor
            id eu nisl. Aliquam ut porttitor leo a diam sollicitudin.
          </p>
          <p>
            Tortor dignissim convallis aenean et tortor at. Quam pellentesque
            nec nam aliquam sem et. Lorem donec massa sapien faucibus et
            molestie ac feugiat. Tempor id eu nisl nunc. Malesuada nunc vel
            risus commodo viverra maecenas. Sem et tortor consequat id porta
            nibh venenatis. Dolor purus non enim praesent elementum facilisis
            leo vel fringilla. Sociis natoque penatibus et magnis dis parturient
            montes. Et molestie ac feugiat sed lectus vestibulum mattis
            ullamcorper velit. Posuere lorem ipsum dolor sit amet. Feugiat in
            ante metus dictum at tempor commodo ullamcorper. Id semper risus in
            hendrerit gravida.
          </p>
        </div>
        <aside class="su-page-sidebar--left">
          <div data-component="sidebar-navigation" data-hydration-component="sidebar-navigation" data-hydration-props='{"id":157300, "root":"157300"}'></div>
        </aside>
      </div>
    </main>
    <script src="http://localhost:5173/build/global.js"></script>

    <script>
      const b = document.getElementById("toggle");
      const e = document.querySelector("html");
      b.addEventListener("click", (event) => {
        if (e.classList.contains("su-dark")) {
          e.classList.remove("su-dark");
        } else {
          e.classList.add("su-dark");
        }
      });
    </script>

    <script src="http://localhost:5173/build/global.js"></script>
  </body>
</html>
