@charset "UTF-8";

/** Source Sans 3, Source Serif 4, Roboto Slab, Roboto Mono (regular only) */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab:wght@300;400;700&family=Source+Sans+3:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Source+Serif+4:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
@import "swiper/swiper.min.css";
@import "swiper/modules/pagination/pagination.min.css";
@font-face {
  font-family: "Stanford";
  src: url("https://www-media.stanford.edu/assets/fonts/stanford.woff")
      format("woff"),
    url("https://www-media.stanford.edu/assets/fonts/stanford.ttf")
      format("truetype");
  font-weight: 300;
  font-display: swap;
}

.su-dark a {
  @apply su-text-white hocus:su-text-dark-mode-red;
}

svg {
  fill: currentColor;
}

.su-dark body {
  @apply su-bg-black-true su-text-white;
}

.su-dark figcaption {
  @apply su-text-white;
}

.sr-only {
  @apply su-sr-only;
}

/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

table th {
  @apply su-text-black dark:su-text-white;
}

table caption {
  @apply su-type-2 su-font-bold su-font-serif su-text-black dark:su-text-white;
}

.su-bg-gradient,
.su-bg-gradient-before:before,
.su-bg-gradient-after:after {
  @apply su-bg-gradient-to-r su-from-digital-red su-to-digital-red-dark dark:su-from-palo-verde dark:su-to-olive;
}

.su-bg-gradient-report {
  @apply su-bg-gradient-to-r su-from-cardinal-red-dark su-to-digital-red-light dark:su-from-palo-verde dark:su-to-olive;
}

.su-bg-gradient-b {
  @apply su-bg-gradient-to-b su-from-digital-red su-to-digital-red-dark dark:su-from-palo-verde dark:su-to-olive;
}

.su-bg-gradient-light-red,
.report-header__pref-toggle::before,
.report-header__pref-toggle::after {
  @apply su-bg-gradient-to-b su-from-digital-red-light su-to-digital-red-dark dark:su-from-palo-verde dark:su-to-olive;
}

.su-bg-gradient-light-red-h {
  @apply su-bg-gradient-to-r su-from-digital-red-dark su-to-digital-red-light dark:su-from-palo-verde dark:su-to-olive;
}

.su-bg-gradient-header-1 {
  background: linear-gradient(180deg, #1c4270 0%, rgba(0, 0, 0, 0) 53.4%),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 64.92%, #fff 96.86%);
}

.su-bg-gradient-header-1-dark,
.su-dark .su-bg-gradient-header-1 {
  background: linear-gradient(180deg, #1c4270 0%, rgba(0, 0, 0, 0) 53.4%),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 64.92%, #000 96.86%);
}

.su-clip-bottom {
  clip-path: inset(-100vw -100vw 0 0);
}

.font-serif-4 {
  @apply su-font-serif;
}

.su-stop-red {
  stop-color: #b1040e;
}

.su-stop-plum {
  stop-color: #620059;
}

.su-stop-teal {
  stop-color: #017e7c;
}

.su-stop-green {
  stop-color: #8f993e;
}

.su-bg-gradient-header-dark {
  background: linear-gradient(
    180deg,
    rgba(1, 50, 107, 0.9) 0.11%,
    rgba(0, 0, 0, 0) 50%
  );
}

.su-bg-gradient-header-white {
  background: linear-gradient(180deg, #fff 0.11%, rgba(0, 0, 0, 0) 50%);
}

.tt-menu::before {
  @apply su-text-26 su-font-bold su-mb-19 su-text-digital-red dark:su-text-dark-mode-red;
}

.report-header .tt-menu {
  background-color: white;
}

.su-dark .report-header .tt-menu {
  background-color: #000;
}

.report-header input[type="search"] {
  background-color: white;
}

.su-dark .report-header input[type="search"] {
  color: white;
  background-color: #000 !important;
}

.report-header .input-has-value input[type="search"] {
  box-shadow: 0 0 38px 0 rgba(0, 0, 0, 0.25);
}

.su-dark .report-header .input-has-value input[type="search"] {
  box-shadow: 0 0 38px 0 rgba(46, 45, 41, 1);
}

.report-header input[type="search"]::placeholder {
  @apply su-text-black-60 dark:su-text-black-20;
}

.report-header .tt-menu {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
}

.su-dark .report-header .tt-menu {
  box-shadow: 0 0 38px 0 rgba(46, 45, 41, 1);
}

.su-dark .report-header__pref-toggle[aria-pressed="true"]:hover svg,
.su-dark .report-header__pref-toggle[aria-pressed="true"] svg {
  color: #000 !important;
}

/*
* Global slider/swiper styles
*/

/* Rule below is scoped to media-carousel only because image shadow was getting cut off */
/* div[data-component="media-carousel"] .component-slider .swiper {
  @apply su-overflow-visible;
} */

.component-slider-cards .swiper-slide {
  @apply su-transition su-relative su-h-auto before:su-absolute before:su-bg-black-30 before:dark:su-bg-black before:su-h-full before:su-w-1 before:su-top-0 before:su--left-20 md:before:su--left-36 lg:before:su--left-50;
}

.component-slider .swiper-slide:not(.swiper-slide-visible) {
  @apply su-pointer-events-none;
}

.component-slider-cards {
  @apply su--mx-20 md:su-mx-0;
}

.component-slider .swiper-slide > * {
  @apply su-transition;
}

.component-slider-peek .swiper-slide-prev > *,
.component-slider-peek .swiper-slide-next > * {
  @apply su-opacity-25 md:su-opacity-100 su-pointer-events-none md:su-pointer-events-auto;
}

.component-slider-single.component-slider-peek {
  @apply su--mx-20 md:su--mx-50 lg:su-mx-0;
}

.component-slider-cards.component-slider-peek {
  @apply su--mx-20 md:su-mx-0;
}

.component-slider-single.component-slider-peek .swiper-slide-prev > *,
.component-slider-single.component-slider-peek .swiper-slide-next > * {
  @apply su-opacity-25 md:su-opacity-100 su-pointer-events-none md:su-pointer-events-auto;
}

.component-slider-single.component-slider-peek.component-slider-vertical-videos
  .swiper-slide-prev
  > *,
.component-slider-single.component-slider-peek.component-slider-vertical-videos
  .swiper-slide-next
  > * {
  @apply su-opacity-25 su-pointer-events-none;
}

.su-slider-dark
  .component-slider-single.component-slider-peek.component-slider-vertical-videos
  .swiper-slide-prev
  > *,
.su-slider-dark
  .component-slider-single.component-slider-peek.component-slider-vertical-videos
  .swiper-slide-next
  > * {
  @apply su-opacity-100 su-pointer-events-none;
}

.su-slider-dark
  .component-slider-vertical-videos
  .swiper-slide-prev
  article
  > *,
.su-slider-dark
  .component-slider-vertical-videos
  .swiper-slide-next
  article
  > * {
  @apply su-opacity-40;
}

.component-slider .component-slider-pagination {
  @apply su-static su-flex su-gap-10 su-text-left;
}

.component-slider .swiper-pagination-bullet {
  @apply su-mx-0 su-transition su-opacity-100 su-w-20 su-h-20 su-bg-transparent su-border-2 su-border-solid su-border-black-40 dark:su-border-black-60;
}

.component-slider.su-slider-dark .swiper-pagination-bullet {
  @apply su-mx-0 su-transition su-opacity-100 su-w-20 su-h-20 su-bg-transparent su-border-2 su-border-solid su-border-black-60;
}

.component-slider
  .component-slider-vertical-videos
  + .component-slider-controls {
  @apply su-cc;
}

.component-slider.su-slider-dark
  .component-slider-vertical-videos
  + .component-slider-controls
  .swiper-pagination-bullet {
  @apply su-border-2 su-border-white su-bg-black-true hover:su-border-dark-mode-red focus-visible:su-border-dark-mode-red active:su-border-dark-mode-red;
}

.component-slider.su-slider-dark
  .component-slider-vertical-videos
  + .component-slider-controls
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply su-border-dark-mode-red su-bg-dark-mode-red;
}

.component-slider .swiper-pagination-lock {
  @apply su-pointer-events-none;
}

.component-slider .swiper-pagination-horizontal.component-slider-pagination {
  @apply su-flex-wrap;
}

.component-slider
  .swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  --swiper-pagination-bullet-horizontal-gap: 0;
  margin: 0 !important;
}

.component-slider.su-slider-dark .swiper-pagination-bullet {
  @apply hover:su-border-dark-mode-red focus-visible:su-border-dark-mode-red active:su-border-dark-mode-red;
}

.component-slider .swiper-pagination-bullet {
  @apply hover:su-border-digital-red focus-visible:su-border-digital-red active:su-border-digital-red dark:hover:su-border-dark-mode-red dark:focus-visible:su-border-dark-mode-red dark:active:su-border-dark-mode-red;
}

.component-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply su-bg-digital-red dark:su-bg-dark-mode-red su-border-digital-red dark:su-border-dark-mode-red;
}

.component-slider.su-slider-dark
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply su-bg-dark-mode-red su-border-dark-mode-red;
}

.component-slider .component-slider-controls {
  @apply su-flex su-gap-20 md:su-gap-27;
}

.component-slider .swiper-pagination-lock .component-slider-btn,
.component-slider .component-slider-btn svg {
  @apply su-border-black-30 dark:su-border-black-60;
}

.component-slider .component-slider-btn svg {
  @apply su-fill-transparent su-stroke-current su-mx-auto;
}

.component-slider .component-slider-prev svg {
  @apply su-rotate-180;
}

.component-slider .component-slider-btn {
  @apply su-transition hover:su-bg-digital-red focus-visible:su-bg-digital-red hover:su-text-white focus-visible:su-text-white dark:hover:su-bg-dark-mode-red dark:focus-visible:su-bg-dark-mode-red dark:hocus:su-text-white su-relative su-min-w-37 su-max-w-37 su-h-37 su-top-auto su-bottom-0 su-border-2 su-border-digital-red dark:su-border-dark-mode-red su-rounded-full;
}

.component-slider.su-slider-dark .component-slider-btn {
  @apply su-transition su-text-white su-bg-black-true hover:su-bg-dark-mode-red focus-visible:su-bg-dark-mode-red hocus:su-text-white su-relative su-min-w-[37px] su-max-w-[37px] su-h-[37px] su-top-auto su-bottom-0 su-border-solid su-border-2 su-border-dark-mode-red su-rounded-full;
}

/*
*   Global modal
*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.su-modal {
  @apply su-size-full su-bg-black-true su-top-0 su-left-0 su-fixed su-z-50 su-text-white su-px-20 su-py-90 md:su-py-50 md:su-px-100;
  animation: fadeIn 0.35s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.su-modal > div {
  @apply su-flex su-h-full su-max-w-[1312px] su-w-full su-items-center su-content-center su-flex-wrap su-relative su-mx-auto;
}

.su-modal .su-component-close {
  @apply su-absolute su-top-20 su-right-20 md:su-top-38 md:su-right-38;
}

.su-modal .su-component-close:hover {
  @apply su-text-dark-mode-red;
}

.su-modal-content iframe {
  @apply su-absolute su-top-0 su-left-0 su-size-full su-object-contain su-object-center;
}

.su-component-close {
  @apply su-text-white;
}

.su-component-close svg {
  @apply su-size-30 su-fill-current;
}

.su-component-close span {
  @apply su-text-12 su-font-semibold su-leading-[119.415%];
}

/*
* Slider inside modal
*/
.su-modal div {
  @apply focus:su-outline-none;
}

.su-modal-content .component-slider {
  @apply su-absolute su-top-0 lg:su-top-50 su-left-0 su-w-full su-h-full;
}

.su-modal-content .component-slider .swiper-wrapper {
  @apply su-h-full;
}

.su-modal-content .component-slider .swiper {
  @apply su-h-[calc(100%-30px)] md:su-h-[calc(100%-50px)] lg:su-h-[calc(100%-150px)];
}

.su-modal-content .component-slider-controls {
  @apply su-rs-mt-3;
}

.c-carousel-image-slide {
  @apply su-flex su-flex-wrap md:su-flex-nowrap su-w-full su-h-full su-items-center su-content-center;
}

.c-carousel-image-slide .c-carousel-image {
  @apply su-relative su-w-full su-h-full;
}

.c-carousel-image-slide.has-caption .c-carousel-image {
  @apply su-w-full su-h-1/2 md:su-h-full md:su-w-3/5;
}

.c-carousel-image-slide .c-carousel-image > * {
  @apply su-w-full su-h-full su-object-contain su-object-center su-absolute su-top-0 su-left-0;
}

.c-carousel-image-slide.has-caption .c-carousel-caption {
  @apply su-w-full su-h-[calc(50%-45px)] su-overflow-auto md:su-h-auto md:su-max-h-full md:su-w-[40%] su-rs-mt-3 md:su-mt-0 md:su-rs-pl-3;
}

/*
*   Search
*/

/* stylelint-disable color-function-notation */
/* stylelint-disable string-quotes */
/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable selector-class-pattern */
.block-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.search-bar input {
  position: relative;
  width: calc(100% - 115px);
  height: 80%;
  margin: 0 5px;
  border: none;
  border-radius: 50px 0 0 50px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding-left: 15px;
}

.search-filters {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  padding-bottom: 150px;
}

.facets fieldset li {
  margin-top: 20px;
}

.facets fieldset li input {
  margin-top: 0;
}

.facets fieldset li label {
  font-size: 18px;
  font-weight: 400;
}

.facets fieldset li:first-of-type {
  margin-top: 12px;
}

.facets li {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.facets input[type="checkbox"] {
  margin-top: 2px;
  width: 18px;
  height: 18px;
}

.reset-list-styles li:last-of-type {
  margin-bottom: 0.5em;
}

.facets label {
  font-size: 18px;
  margin-left: 8px;
  line-height: 125%;
}

.pagination li a {
  border: none;
}

.pagination li:hover a {
  background: none;
}

.pagination li {
  position: relative;
  display: flex;
}

.pagination li:hover::after {
  position: absolute;
  bottom: 2px;
  left: auto;
  height: 2px;
  width: 12px;
  background: #b1040e;
  content: "";
}

.pagination li.active {
  background: #b1040e;
  border-radius: 300px;
  overflow: hidden;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 25%));
}

.pagination li:not(.pagination-btn__disabled) svg {
  fill: #2e2d29; /* Your default SVG color */
}

.pagination-btn__disabled svg {
  fill: #979694;
}

.pagination li.active a {
  color: #fff;
}

.facets__toggle-rev svg {
  transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .mobile-hidden {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 769px) {
  .desktop-hidden {
    display: none;
    visibility: hidden;
  }
}

.facets label.switch {
  position: relative;
  display: flex;
  padding-left: 26px;
  font-size: 18px;
  margin-left: 2px;
  font-weight: 400;
}

.facets label.switch:focus-within .slider {
  outline: 2px solid #006cb8;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0%;
  width: 0;
  height: 0;
}

.slider {
  width: 38px;
  height: 18px;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border: 1px solid #d5d5d4;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #417865;
  border: 1px solid #8ab8a7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider::before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

audio::-webkit-media-controls-panel {
  background: white;
}

.save-btn__active svg {
  fill: #006cb8;
}

.save-btn__active span {
  display: none;
}

/*
* Section page summary
*/
.section-summary {
  @apply su-mx-auto su-mt-[-3.4rem] md:su-mt-[-5.8rem] lg:su-mt-[-6.1rem] su-pt-11 md:su-pt-9 lg:su-pt-8 su-font-serif su-italic su-text-18 su-leading-[2.715rem] md:su-text-24 md:su-leading-[3.62rem] lg:su-text-28 lg:su-leading-[4.224rem] su-text-black-90 su-text-center !important;
}

.section-summary p {
  @apply !su-leading-[2.715rem];
}
.su-dark .section-summary {
  @apply !su-text-black-20;
}

/*
* Main page wrapper
*/
.su-page {
  @apply su-w-full;
}

.su-page:not(.su-page-has-sidebar, .su-page-has-sidebar--left)
  .su-page-content
  > *:not(
    [data-component],
    .container,
    .su-lower-content,
    .su-above-footer,
    .su-upper-content
  ),
.su-page:not(.su-page-has-sidebar, .su-page-has-sidebar--left)
  .su-page-content
  > .container
  > *:not([data-component]),
.su-page:not(.su-page-has-sidebar, .su-page-has-sidebar--left)
  .su-page-content
  > span {
  @apply su-max-w-[73.2rem] md:su-w-[84.75%] su-mx-auto su-px-20 md:su-px-50;
}

/* Footer */
div[data-component="footer-component"] {
  @apply su-relative;
}

/* Content page / pagebuilder WYSIWYG */
.su-page-content > .container > span,
.su-page-content > span:not([data-component]) {
  @apply su-block;
}

.su-page-content > .container > span > *:last-child {
  @apply su-mb-0;
}

.su-page:not(.su-page-wrap--no-btm-margin) .su-page-wrap {
  @apply su-rs-mb-9;
}

.su-page.su-page--no-bottom-margin .su-page-wrap {
  @apply su-mb-0 !important;
}

.su-page--top-margin:not(
    .su-page-story-featured,
    .su-page-has-sidebar--left,
    .su-page-story-standalone-visual
  )
  .su-upper-content {
  @apply su-rs-pt-7;
}

.su-upper-content > [data-component] + * {
  @apply su-rs-mt-7;
}

[data-component="leadership-hero-hannah"] {
  @apply su-rs-mt-8 !important;
}

[data-component="default-hero"],
[data-component="leadership-hero"] {
  @apply su-rs-mb-5 !important;
}

[data-component="basic-story-hero"] {
  @apply su-rs-mb-3 lg:su-rs-mb-5 !important;
}

[data-component="feature-story-hero"] {
  @apply su-rs-mb-8 !important;
}

.su-page-has-sidebar .su-lower-content > * {
  @apply su-rs-mt-2;
}

.su-page-has-sidebar .su-sidebar-content-wrap {
  @apply su-max-w-[1312px] su-mx-auto su-flex su-flex-wrap lg:su-flex-nowrap su-justify-between lg:su-gap-50;
}

.su-page-has-sidebar .su-page-content {
  @apply su-w-[calc(100%-40px)] su-mx-20 md:su-mx-50 md:su-w-[calc(100%-100px)] lg:su-mx-0 md:su-px-[7.65%] lg:su-ml-[16.66%] lg:su-w-1/2 lg:su-grow lg:su-px-0;
}

.su-page-has-sidebar .su-page-content > *:first-child {
  @apply su-mt-0 md:su-mt-0 lg:su-mt-0;
}

.su-page-has-sidebar .su-page-content > *:not(.su-lower-content):last-child {
  @apply su-mb-0 md:su-mb-0 lg:su-mb-0;
}

.su-page-has-sidebar .su-page-content .su-container-px {
  @apply su-px-0 md:su-px-0 lg:su-px-0;
}

.su-page-has-sidebar .su-page-sidebar {
  @apply su-flex su-flex-col md:su-flex-row lg:su-flex-col su-justify-between su-gap-32 md:su-gap-[8.4rem] lg:su-gap-95 lg:su-max-h-[230rem] su-mx-20 md:su-mx-50 lg:su-mx-0 md:su-px-[7.65%] lg:su-px-0 lg:su-ml-auto lg:su-w-1/4 lg:su-mr-[8.33%] su-w-full lg:su-max-w-[29.8rem] su-mt-38 md:su-mt-110 lg:su-mt-0 su-mb-[10rem] md:su-mb-[16.2rem] lg:su-mb-95;
}

.su-page-story-featured .su-upper-content,
.su-page-story-featured [data-component="feature-story-hero"] {
  @apply su-mt-0 !important;
}

.su-page.su-page-story-featured [data-component="text-callout"] > div {
  @apply su-w-full su-px-20 md:su-px-50 xl:su-px-0 md:su-w-[84.75%] md:su-max-w-[73.2rem] xl:su-max-w-[63.2rem];
}

/** 
  * Updates Page scoped max-width for content elements
*/
.su-page:not(
    .su-page-story-basic,
    .su-page-story-featured,
    .su-page-has-sidebar--left
  )
  [data-component="button"]
  > div,
.su-page:not(
    .su-page-story-basic,
    .su-page-story-featured,
    .su-page-has-sidebar--left
  )
  [data-component="button-row"]
  > div,
.su-page:not(
    .su-page-story-basic,
    .su-page-story-featured,
    .su-page-has-sidebar--left
  )
  [data-component="pullquote"]
  > div,
.su-page:not(
    .su-page-story-basic,
    .su-page-story-featured,
    .su-page-has-sidebar--left
  )
  [data-component="single-image-video"]
  > div,
.su-page:not(
    .su-page-story-basic,
    .su-page-story-featured,
    .su-page-has-sidebar--left
  )
  [data-component="text-callout"]
  > div {
  @apply su-w-full su-px-20 md:su-px-50 xl:su-px-0 md:su-max-w-900 xl:su-max-w-800;
}

/* This overrides the max-width in the container around the title/summary of the Single Image Video
 * It was inset in the regular view, but we want the title/summary to have the same width and max-width as the image/video
*/
.su-page:not(
    .su-page-story-basic,
    .su-page-story-featured,
    .su-page-has-sidebar--left
  )
  [data-component="single-image-video"]
  > div
  > section
  > div {
  @apply md:su-max-w-none lg:su-max-w-none;
}

.su-page:not(
    .su-page-has-sidebar,
    .su-page-story-featured,
    .su-page-has-sidebar--left
  )
  .su-page-content
  > *:not(
    [data-component],
    .container,
    .su-lower-content,
    .su-above-footer,
    .su-upper-content
  ) {
  @apply su-w-full su-max-w-900;
}

/*
* Containers
*/
.su-container-narrow {
  @apply su-w-full su-max-w-[732px] md:su-w-[84.75%];
}
.su-page-has-sidebar .su-page-content > .container .su-container-narrow,
.su-page-has-sidebar .su-page-content .su-container-narrow {
  @apply su-w-full;
}

.su-container-large,
.section-summary {
  @apply su-w-full su-max-w-[118.6rem];
}

.su-container-wide {
  @apply su-w-full su-max-w-[141.2rem];
}
/* Site search same as container wide */
.site-search {
  @apply su-w-full su-max-w-[1412px] !important;
}

.su-container-full {
  @apply su-w-full su-max-w-none;
}

.su-container-px,
.section-summary {
  @apply su-px-20 md:su-px-50;
}

/*
* Contextual styles
*/
.su-page-content
  > *:not(.container, .su-lower-content)
  + *:not(.container, .su-lower-content),
.su-page-content > .container > * + * {
  @apply su-rs-mt-2;
}

.su-component-line-heading {
  @apply su-rs-mb-5;
}

/* Content carousel */
.su-page:not(.su-page-has-sidebar)
  .su-page-content
  [data-component="content-carousel"]
  .su-component-container
  > .su-bg-fog-light {
  @apply md:su--mx-61 md:su-px-61;
}

/* Campaign CTA */
.su-page-content > [data-component="campaign-cta"]:first-child {
  @apply su-mt-0;
}

.su-page-content > [data-component="campaign-cta"]:last-child {
  @apply su-mb-0;
}

/* Campaign CTA on basic story pages */
.su-page-has-sidebar [data-component="campaign-cta"] {
  @apply su--mx-20 md:su-mx-[calc(-7.65%+50px)] lg:su-mx-0 md:su-w-[calc(121.5%+100px)] md:su-ml-[calc(calc(-10.75%-50px))] lg:su-w-full;
}

.su-page-has-sidebar
  [data-component="campaign-cta"]
  .su-component-campaigncta-wrap {
  @apply su-w-full su-px-20 md:su-px-50 lg:su-px-60 lg:su-flex-col;
}

.su-page-has-sidebar
  [data-component="campaign-cta"]
  .su-component-campaigncta-content {
  @apply lg:su-border-none lg:su-mr-0;
}

/* Medium contextual spacing */
* + [data-component="pullquote"],
[data-component="pullquote"] + *,
* + [data-component="related-story"],
[data-component="related-story"] + * {
  @apply su-rs-mt-5 !important;
}

* + [data-component="fact-callout"] .decoration-top {
  @apply su-rs-mt-5 !important;
  @apply su-rs-mb-7 !important;
}

* + [data-component="fact-callout"] .decoration-bottom {
  @apply su-rs-mt-7 !important;
  @apply su-rs-mb-5 !important;
}

/* Large contextual spacing */
* + [data-component="featured-content"],
* + [data-component="featured-content-vv"],
* + [data-component="multicolumn-listing"],
* + [data-component="combined-content-grid"],
* + [data-component="events-section"],
* + [data-component="campaign-cta"],
* + [data-component="stories-carousel"],
* + [data-component="media-feature"],
* + [data-component="policy-brief"],
* + [data-component="leadership-messages"],
* + [data-component="single-featured-content"],
* + [data-component="multicolumn-image"],
[data-component="featured-content"] + *,
[data-component="featured-content-vv"] + *,
[data-component="image-quote"] + *,
[data-component="media-feature"] + *,
[data-component="campaign-cta"] + *,
[data-component="combined-content-grid"] + *,
[data-component="events-section"] + *,
[data-component="single-featured-content"] + *,
[data-component="multicolumn-image"] + *,
[data-component="multicolumn-listing"] + *,
[data-component="stories-carousel"] + *,
[data-component="policy-brief"] + * {
  @apply su-rs-mt-8 !important;
}

/* Extra large contextual spacing */
* + [data-component="image-quote"],
* + [data-component="media-carousel"],
* + [data-component="media-carousel"] + [data-component="policy-brief"] {
  @apply su-rs-mt-9 !important;
}

/* Remove top and bottom margins when last components are full width */
[data-component="campaign-cta"]:first-child,
[data-component="media-feature"]:first-child {
  @apply su-mt-0 !important;
}

[data-component="campaign-cta"]:last-child,
[data-component="media-feature"]:last-child {
  @apply su-mb-0 !important;
}

/* Where multicolumn listing follows featured content grid, remove margins to accommodate the line */
[data-component="featured-content"] + [data-component="multicolumn-listing"],
[data-component="featured-content-vv"] + [data-component="multicolumn-listing"],
[data-component="combined-content-grid"]
  + [data-component="multicolumn-listing"],
[data-component="single-featured-content"]
  + [data-component="multicolumn-listing"],
[data-component="fact-callout"] + * {
  @apply su-mt-0 !important;
}

/* Then we add margins depending on whether the listing has a title or not */
[data-component="featured-content"]
  + [data-component="multicolumn-listing"]
  .component-multicolumn-listing.has-no-title
  .su-component-container::before,
[data-component="combined-content-grid"]
  + [data-component="multicolumn-listing"]
  .component-multicolumn-listing.has-no-title
  .su-component-container::before,
[data-component="single-featured-content"]
  + [data-component="multicolumn-listing"]
  .component-multicolumn-listing.has-no-title
  .su-component-container::before,
[data-component="featured-content-vv"]
  + [data-component="multicolumn-listing"]
  .component-multicolumn-listing.has-no-title
  .su-component-container::before,
[data-component="combined-content-grid-vv"]
  + [data-component="multicolumn-listing"]
  .component-multicolumn-listing.has-no-title
  .su-component-container::before,
[data-component="single-featured-content-vv"]
  + [data-component="multicolumn-listing"]
  .component-multicolumn-listing.has-no-title
  .su-component-container::before {
  content: "";
  @apply su-block su-w-full su-h-px su-bg-black-30 dark:su-bg-black su-rs-my-5;
}

[data-component="featured-content"]
  + [data-component="multicolumn-listing"]
  .component-multicolumn-listing.has-title,
[data-component="combined-content-grid"]
  + [data-component="multicolumn-listing"]
  .component-multicolumn-listing.has-title,
[data-component="single-featured-content"]
  + [data-component="multicolumn-listing"]
  .component-multicolumn-listing.has-title {
  @apply su-rs-mt-8;
}

/*
WYSIWYG formatting styles
*/
/* Use decanter styles for WYSIWYG elements */
.su-wysiwyg-content,
.su-page-content > span,
.container > span,
.su-page-content
  > *:not([data-component], .container, .site-search, .su-lower-content) {
  @apply su-wysiwyg;
}

/* STANFORD-819 */
.su-wysiwyg-content a,
.su-page-content > span a,
.container > span a,
.su-page-content
  > *:not([data-component], .container, .site-search, .su-lower-content)
  a {
  @apply hocus:su-no-underline;
}

/* Set specfic spacing for paragraphs */
[data-component="text-callout"] .su-wysiwyg-content p {
  @apply su-rs-mb-1 last:su-mb-0;
}

.su-wysiwyg-content ul ul,
.su-wysiwyg-content ul ol,
.su-wysiwyg-content ol ol,
.su-wysiwyg-content ol ul,
.container > span ul ul,
.container > span ul ol,
.container > span ol ol,
.container > span ol ul,
.su-page-content > span ul ul,
.su-page-content > span ul ol,
.su-page-content > span ol ol,
.su-page-content > span ol ul,
.su-page-content > *:not([data-component], .container, .site-search) ul ul,
.su-page-content > *:not([data-component], .container, .site-search) ul ol,
.su-page-content > *:not([data-component], .container, .site-search) ol ol,
.su-page-content > *:not([data-component], .container, .site-search) ol ul {
  @apply su-mb-0;
}

/* Set responsive table (div wrapper) to overflow on smaller screens */
.su-responsive-table {
  @apply su-max-w-full su-overflow-auto lg:su-overflow-visible;
}

.su-responsive-table td {
  @apply su-min-w-[10em] lg:su-min-w-[auto];
}

/* Set HR margins to match paragraphs etc */
.su-wysiwyg-content hr,
.container > span hr,
.su-page-content > span hr,
.su-page-content > *:not([data-component], .container) hr {
  margin-bottom: 1.6em;
}

/* Custom styles for the disc */
.su-wysiwyg-content ul,
.container > span ul,
.su-page-content > span ul,
.su-page-content > div:not([data-component]) ul,
.su-page-content > ul {
  @apply su-list-none su-pl-0;
}

.su-wysiwyg-content ol,
.container > span ol,
.su-page-content > span ol,
.su-page-content > div:not([data-component], .site-search) ol,
.su-page-content > ol {
  @apply su-relative su-pl-30;
}

.su-wysiwyg-content ul > li,
.container > span ul > li,
.su-page-content > span ul > li,
.su-page-content > div:not([data-component], .site-search) ul > li,
.su-page-content > ul > li {
  @apply su-relative su-pl-30 before:su-absolute before:su-top-[.6em] before:su-size-[0.45rem] before:su-left-12 before:su-rounded-full;
}

.su-wysiwyg-content ul > li::before,
.container > span ul > li::before,
.su-page-content > span ul > li:before,
.su-page-content > div:not([data-component], .site-search) ul > li::before,
.su-page-content > ul > li::before {
  background-color: currentColor;
}

.container > span .bold,
.container > span strong,
.su-page-content > span .bold,
.su-page-content > span strong,
.su-wysiwyg-content .bold,
.su-wysiwyg-content strong,
.su-page-content > div:not([data-component]) .bold,
.su-page-content > div:not([data-component]) strong {
  @apply su-font-bold;
}

.container > span > *:last-child,
.su-page-content > span > *:last-child,
.su-wysiwyg-content > *:last-child,
.su-page-content > div:not([data-component], .container) > *:last-child {
  @apply su-mb-0;
}

.container > span .italics,
.container > span em,
.su-page-content > span .italics,
.su-page-content > span em,
.su-wysiwyg-content .italics,
.su-wysiwyg-content em,
.su-page-content > div:not([data-component]) .italics,
.su-page-content > div:not([data-component]) em {
  @apply su-italic;
}

.container > span .underline,
.container > span u,
.su-page-content > span .underline,
.su-page-content > span u,
.su-wysiwyg-content .underline,
.su-wysiwyg-content u,
.su-page-content > div:not([data-component]) .underline,
.su-page-content > div:not([data-component]) u {
  @apply su-underline hocus:su-no-underline;
}

.container > span .justify,
.su-page-content > span .justify,
.su-wysiwyg-content .justify,
.su-page-content > div:not([data-component]) .justify {
  @apply su-text-justify;
}

.container > span .left,
.su-page-content > span .left,
.su-wysiwyg-content .left,
.su-page-content > div:not([data-component]) .left {
  @apply su-text-left;
}

.container > span .right,
.su-page-content > span .right,
.su-wysiwyg-content .right,
.su-page-content > div:not([data-component]) .right {
  @apply su-text-right;
}

.container > span .center,
.su-page-content > span .center,
.su-wysiwyg-content .center,
.su-page-content > div:not([data-component]) .center {
  @apply su-text-center;
}

/* campaign CTA */
.su-campaign-cta-gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 53.06%, #000 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Acknowledgement */
.su-page-story-basic
  [data-component="acknowledgement"]
  .su-component-container
  > hr {
  @apply su-h-5 !important;
}

.su-page-story-featured * + [data-component="acknowledgement"],
.su-page-story-featured .su-lower-content [data-component="acknowledgement"] {
  @apply su-rs-mt-5 xl:su-rs-mt-8 !important;
}

.su-page-story-basic * + [data-component="acknowledgement"],
.su-page-story-basic .su-lower-content [data-component="acknowledgement"] {
  @apply su-rs-mt-5 !important;
}

/* Metadata */
.su-page:not(.su-page-has-sidebar)
  .su-lower-content
  [data-component="metadata-fields"] {
  @apply su-rs-mt-5 su-rs-mb-9 !important;
}

/*
Single image/video component
*/
.su-page-story-basic .su-play-button-icon svg {
  @apply su-size-40 su-left-20 su-bottom-20 md:su-size-60 md:su-left-26 md:su-bottom-26;
}

/*
Light/Dark mode toggle WCAG
*/
#dark-theme:focus + label,
#light-theme:focus + label {
  outline: 2px solid #006cb8;
}

/*
Skiplink
*/
.skiplink {
  display: block;
  position: absolute;
  left: -999px;
  top: -999px;
  z-index: 100;
}

.skiplink:focus {
  left: 0;
  top: 0;
  padding: 3px;
  background: #fff;
}

/* Search header */
.su-light .report-header input[type="search"] {
  background: none 0% 0% / auto repeat scroll padding-box border-box
    rgb(255 255 255) !important;
}
/*
Subscribe to Stanford Report Marketo form styles
*/

.marketo-sr-subscribe-form.mktoForm * {
  @apply su-font-sans su-text-20;
}

.marketo-sr-subscribe-form.mktoForm .mktoFormRow {
  @apply su-mb-50;
}

.marketo-sr-subscribe-form.mktoForm .mktoLabel {
  @apply su-pb-2 su-font-semibold su-float-none su-text-18;
}

.marketo-sr-subscribe-form.mktoForm input.mktoField {
  @apply su-input su-p-10 su-max-w-550 su-w-full;
}

.marketo-sr-subscribe-form.mktoForm input[type="text"],
.marketo-sr-subscribe-form.mktoForm input[type="email"],
.marketo-sr-subscribe-form.mktoForm textarea {
  @apply su-border-black-20 dark:su-border-black-60 dark:su-bg-black-true dark:su-text-white su-mt-6 su-rounded su-border su-border-b-2 su-border-b-black-70 dark:su-border-b-black-30 su-px-16 su-py-12 hocus:su-border-digital-blue-vivid hocus:su-border-b-digital-blue dark:hocus:su-border-digital-blue-light/80 dark:hocus:su-border-b-digital-blue-light focus:su-ring-4 focus:su-ring-digital-blue-vivid/20 dark:focus:su-ring-digital-blue-vivid/60 su-transition-colors;
}

/* Checkbox styles */
.marketo-sr-subscribe-form.mktoForm .mktoCheckboxList,
.marketo-sr-subscribe-form.mktoForm .mktoRadioList {
  @apply su-grid su-grid-cols-[auto_1fr] su-gap-x-14 su-gap-y-24 su-mt-20 su-p-0;
}

.marketo-sr-subscribe-form.mktoForm .mktoCheckboxList label,
.marketo-sr-subscribe-form.mktoForm .mktoRadioList label {
  @apply su-text-18 su-mt-01em su-leading-display su-cursor-pointer peer-hover:su-underline;
}

.marketo-sr-subscribe-form.mktoForm input[type="checkbox"],
.marketo-sr-subscribe-form.mktoForm input[type="radio"] {
  @apply su-w-auto su-text-digital-blue su-cursor-pointer hocus:su-ring-digital-blue-light/40 dark:hocus:su-ring-digital-blue-vivid/60 hocus:su-ring-4 su-border-black-50 dark:su-border-black-30 dark:hocus:su-border-digital-blue-light dark:su-bg-black-true dark:checked:su-bg-digital-blue su-border-2 su-rounded hocus:su-border-digital-blue checked:su-border-digital-blue-light dark:checked:su-border-digital-blue-light focus:su-ring-offset-0 focus:su-outline-none checked:hocus:su-bg-digital-blue-dark dark:checked:hocus:su-bg-digital-blue-vivid;
}
.marketo-sr-subscribe-form.mktoForm input[type="radio"] {
  @apply su-rounded-full;
}

/* Marketo puts the asterisk before the label text(?) so
// we use flexbox to switch the order and put the asterisk
// after the label text.*/
.marketo-sr-subscribe-form.mktoForm .mktoLabel {
  @apply su-flex su-flex-row-reverse su-justify-end;
}

/* Make required asterisk red and give it a little margin.*/
.marketo-sr-subscribe-form.mktoForm .mktoAsterix {
  @apply su-text-digital-red-light dark:su-text-dark-mode-red;
  margin-inline-start: 0.2rem;
}

/* Error messages */
.marketo-sr-subscribe-form.mktoForm .mktoErrorMsg,
.marketo-sr-subscribe-form.mktoForm .mktoErrorDetail {
  @apply su-text-digital-red-light dark:su-text-dark-mode-red su-text-16 su-mt-8;
}

/* This shift the error message up so when it's displayed, so it doesn't cause the input field to shift position */
.marketo-sr-subscribe-form.mktoForm .mktoError {
  @apply su--mb-26;
}

/* Add more margin above the submit button at the bottom.*/
.marketo-sr-subscribe-form.mktoForm .mktoButtonRow {
  @apply su-rs-mt-3;
}

.marketo-sr-subscribe-form.mktoForm .mktoButton {
  @apply su-button hocus:su-underline su-leading-display md:su-px-30 md:su-pt-12 md:su-pb-14 su-text-18 md:su-text-20 su-transition-colors dark:hocus:su-ring-1 dark:hocus:su-ring-white;
}

/* Grid setup for page with left sidebar. Need to refactor all page layouts similar to this. */
/* Grid areas: u = upper-content, a = aside(sidebar), c = page-content  */
.su-page.su-page-has-sidebar--left .su-page-wrap {
  @apply su-w-full su-max-w-[141.2rem] su-px-20 md:su-px-50 su-mx-auto su-grid su-grid-cols-6 su-grid-gap su-gap-y-0 md:su-grid-cols-12 su-rs-pt-7;
  grid-template-areas:
    "a a a a a a"
    "u u u u u u"
    "c c c c c c";
}

.su-page.su-page-has-sidebar--left .su-page-wrap .su-upper-content {
  grid-area: u;
}

.su-page.su-page-has-sidebar--left .su-page-wrap .su-page-content {
  @apply su-m-0 su-p-0 su-w-full;
  grid-area: c;
}

.su-page.su-page-has-sidebar--left .su-page-wrap .su-page-sidebar--left {
  grid-area: a;
}

@media screen and (min-width: 768px) {
  .su-page.su-page-has-sidebar--left .su-page-wrap {
    grid-template-areas:
      "a a a a a a a a a a a a"
      "u u u u u u u u u u u u"
      ". c c c c c c c c c c .";
  }
}

@media screen and (min-width: 992px) {
  .su-page.su-page-has-sidebar--left .su-page-wrap {
    grid-template-areas:
      "u u u u u u u u u u u u"
      "a a a c c c c c c c c c";
  }
}

@media screen and (min-width: 1200px) {
  .su-page.su-page-has-sidebar--left .su-page-wrap {
    grid-template-areas:
      ". u u u u u u u u u u ."
      ". a a a c c c c c c . .";
  }
}

/**
 * Campaign page global styles
 */
.su-page-campaign,
.su-page-campaign body {
  @apply su-bg-campaign-fog;
}

.su-page-campaign.su-dark,
.su-page-campaign.su-dark body {
  @apply su-bg-black-true;
}

/* There is a boolean in the Stanford Campaigns schema for always presenting the page dark mode. */
.su-always-dark body.su-page-campaign {
  @apply su-bg-black-true;
}

.su-always-dark .su-page-campaign main {
  @apply su-text-white;
}

/* Federal Issues page syle overrides */
.fed-issues
  .su-page:not(.su-page-has-sidebar, .su-page-has-sidebar--left)
  .su-page-content
  > *:not(
    [data-component],
    .container,
    .su-lower-content,
    .su-above-footer,
    .su-upper-content
  ) {
  width: 100%;
  max-width: 90rem;
}

.fed-issues
  .su-page:not(.su-page-has-sidebar, .su-page-has-sidebar--left)
  .su-page-content
  div
  > h2 {
  @apply su-type-2;
}

.fed-issues
  .su-page:not(.su-page-has-sidebar, .su-page-has-sidebar--left)
  .su-page-content
  .su-container-narrow {
  width: 100%;
  max-width: 90rem;
}

.fed-issues .su-page-content > div:not([data-component], .site-search) ul > li {
  padding-left: 4rem;
}

.fed-issues
  .su-page-content
  > div:not([data-component], .site-search)
  ul
  > li::before {
  width: 1rem;
  height: 1rem;
}

.fed-issues .su-upper-content {
  @apply su-bg-cardinal-red su-text-white;
}

.fed-issues .su-upper-content h1 {
  @apply su-rs-pb-7;
}

/* Link styles for basic hero on updates pages. */
div[data-component="basic-hero"] a {
  @apply su-text-white hocus:su-no-underline hocus:su-opacity-80 dark:hocus:su-text-white;
}

/* Link styles to remove underline on :hocus for multicolumn-info-section component.
The .su-wysiwyg-content class adds some odd stuff that I'm not sure we want here.
Will need to further evaluate, but this will do for now. */
div[data-component="multicolumn-info-section"] a {
  @apply hocus:su-no-underline;
}
