/* 
  single featured content
  these styles will only target single featured content components
*/
[data-component="single-featured-content"] .su-single-featured-content h2 {
  @apply su-text-25 su-leading-[125%];
}

[data-component="single-featured-content"] .su-single-featured-content div > p {
  @apply su-text-18 su-leading-[125%];
}

[data-component="single-featured-content"] .su-single-featured-content [data-testid="vertical-card-taxonomy"] {
  @apply su-text-18;
}

@media screen and (min-width: 768px) {
  [data-component="single-featured-content"] .su-single-featured-content {
    text-align: center;
  }

  [data-component="single-featured-content"] .su-single-featured-content * {
    align-items: center;
    justify-content: center;
  }

  [data-component="single-featured-content"] .su-single-featured-content h2 {
    @apply su-text-[40px] su-leading-display;
  }

  [data-component="single-featured-content"] .su-single-featured-content [data-testid="vertical-card-taxonomy"] {
    @apply su-text-20;
  }

  [data-component="single-featured-content"] .su-single-featured-content div > p {
    @apply su-text-19 su-leading-[125%];
  }
}

@media screen and (min-width: 992px) {
  [data-component="single-featured-content"] .su-single-featured-content h2 {
    @apply su-text-[49px] su-leading-[125%];
  }

  [data-component="single-featured-content"] .su-single-featured-content div > p {
    @apply su-text-21 su-leading-[125%];
  }
}