.su-linklist-mob-width {
  width: calc(100% - 60px);
}

@media screen and (min-width: 768px) {
  .su-linklist-mob-width {
    width: calc(100% - 352px);
  }
}

@media screen and (min-width: 992px) {
  .su-linklist-mob-width {
    width: 100%;
  }
}

.su-link-list-no-stories {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
}