@tailwind components;
@tailwind utilities;

@media (max-width: 767px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer-links-wrapper {
  ul {
    padding-left: 0px;
  }
}

.footer-top-links,
.footer-bottom-links {
  ul {
    list-style-type: none;
  }
}

@media (max-width: 767px) {
  .footer-links-wrapper {
    justify-content: center;
  }

  .footer-top-links {
    padding-top: 0px;

    ul {
      flex-direction: column;
    }
  }

  .footer-bottom-links {
    ul {
      flex-direction: column;
    }
  }
}
